h1 {

	color: black;
	text-align: center;
	text-transform: uppercase;
}

h3 {
  text-transform: uppercase;
}


body {
	text-align: center;
	background-color: gray;
}

.other-ps {
	background-color: gray; 
}

img {
	border: 1px solid black;
}

img {
	float: right;
	width: 280px

}

body {
	border-top: 20px solid black;
	border-bottom: 20px solid black;
{


